/* Styling for the try again button */
.getQuestion .active, .tryAgainBtn:hover {
    transform: scale(0.95);
    background-color: rgb(195, 195, 195);
    box-shadow: 1px 1px 5px 1px rgb(94, 94, 94);
}
